*{
  margin:0px;
  font-family: 'Lato', sans-serif;

}
header{
  height:120px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header > nav{
  display:flex;
  flex-direction: row;
  column-gap: 53px;
  margin-right: 272px;
}
header > img{
  margin-left:240px;
  width:72px;
  height:72px;
}

header > nav > a{
  color: grey;
  text-decoration: none;
}
#main-img{
  display:flex;
  flex-direction: column;
  row-gap:15px;
  justify-content: center;
  align-items: center;
  height:697px;
  color:white;
  background-color: #037CFF;
  font-size:30px;
  font-weight:bold;
}
.about-me{
  display:flex;
  flex-direction:row;
  column-gap: 34px;
  font-size:50px;
  margin:185px 246px 179px 240px;
}
.about-me > article {
 display: flex;
 flex-direction: column;
 row-gap:39px;
}
.about-me > article > span{
  font-size:1em;
  color:#037CFF;
  font-weight:bold;
}
.about-me > article > p{
  font-size:0.44em;
  color:#868686;
 
}
.Portfolio{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:50px;
  background-color:#F8F8F8;

}
.Portfolio > article:first-of-type{
  margin:97px 234px 179px 235px;
}
.Portfolio >  span:first-of-type{
  font-size:1em;
  font-weight: bold;
  margin-top:79px;
  color:#037CFF;
}
.Portfolio > article > article {
 display: flex;
 flex-direction: row;
 column-gap: 29px;
}
.blog-box{
  display: flex;
  flex-direction: column;
}
.blog-box > div {
background-color:white;


}
.blog-box > div > span{
  font-size:0.45em;
  font-weight: bold;
  margin:30px 14px 60px 16px;
}
.blog-box > div > p{
  font-size:0.3em;
  color:#707070;
  margin:30px 14px 60px 16px;
}
.contact-me{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:50px;
  margin-top:118px;

}
#contact-metitle{
  font-size:1em;

  font-weight: bold;
  color:#037CFF;
}
.contact-me article{
  display: flex;
  flex-direction: row;
  margin-top:103px;
  column-gap:135px;
}
.contact-me article div span{
  font-size:34px;
  color:black;
}
.contact-me article div a{
color:#037CFF;
font-size:30px;
text-decoration:none;
}
.contact-me article div {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-bottom:113px;
}
footer{
  height:72px;
background-color:#037CFF;
display:flex;
justify-content: center;
align-items: center;


}
footer span{

  color:white;
font-size:24px;
  background-color:#037CFF;
  margin:22px 0px;
  
}